{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
						  {{dialogText}}
					  </p>
					</div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="{{body.choice1Link}}">
						  {{body.choice1Text}}
					  </a>
				   </span></button>
					 <button class="button" style="vertical-align:middle"><span>
 					  <a href="{{body.choice2Link}}">
 						  {{body.choice3Text}}
 					  </a>
 				   </span></button>
					 <button class="button" style="vertical-align:middle"><span>
 					  <a href="{{body.choice1Link}}">
 						  {{body.choice3Text}}
 					  </a>
 				   </span></button>
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
