{{> header}}

<main>
	<body>
			<div id="body">
				  <div class="person">
					  {{dialog.dialogText}}
<<<<<<< HEAD
=======



>>>>>>> origin/master
				  </div>

				  <button class="button" style="vertical-align:middle"><span>
					  <a href={{dialog.choice.choice1Link}}>
						  {{dialog.choice.choice1Text}}
					  </a>
				   </span></button>

				   <button class="button" style="vertical-align:middle"><span>
					   <a href="{{dialog.choice.choice2Link}}">
						   {{dialog.choice.choice2Text}}
					   </a>
 				   </span></button>
<<<<<<< HEAD
				   <button class="button" style="vertical-align:middle"><span>
						<a href="{{dialog.choice.choice3Link}}">
						 {{dialog.choice.choice3Text}}</a>
=======
				   
				   <button class="button" style="vertical-align:middle"><span>  <a href="\dialog3.html">{{dialog.choice.choice3Text}}</a>
>>>>>>> origin/master
					   </span></button>

			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
