{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  {{dialog.dialogText}}



				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href={{dialog.choice.choice1Link}}>
						  {{dialog.choice.choice1Text}}
					  </a>
				   </span></button>

				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\dialog2.html">
						   {{dialog.choice.choice2Text}}
					   </a>
 				   </span></button>
				   
				   <button class="button" style="vertical-align:middle"><span>  <a href="\dialog3.html">{{dialog.choice.choice3Text}}</a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
